{% extends "base.html.twig" %}

{% block body %}
    <h1>Nouveau livre</h1>

    <article class="d-flex justify-content-end">
        {{ include('book/_includes/actions/_back_to_list.html.twig', with_context=false) }}
    </article>

    <article>
        {{ form(book_form) }}
    </article>
{% endblock body %}
